.banner {
    background-color: $lightShade;
    width: calc(100vw - 180px);
    margin: 0 auto;
    padding: 80px 0 120px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &-wrapper {
        position: relative;
        .slider-arrows {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -120px;
            width: calc(100% + 240px);
            display: flex;
            justify-content: space-between;
        }
    }
    .banner-slider-content {
        align-items: center;
    }
    .banner-slider-left {
        .subtitle {
            font-size: 14px;
            font-weight: 300;
            color: $primary;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
        }  
        h1 {
            font-size: 68px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 24px;
        }     
    }

    .banner-slider-right {
        position: relative;
        max-width: max-content;
        .info {
            position: absolute;
            top: 0;
            right: -50px;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            width: 140px;
            height: 124px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .amount {
                font-size: 36px;
                font-weight: bold;
                margin-bottom: 2px;
                color: #F05C52;
            }
            .text {
                color: $primary;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}